.products_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;

  /* CENTER THE GRID */
  max-width: 1200px;
  margin: 100px auto 0 auto;   /* centers left + right */

  padding: 0 20px;  /* soft margin on both sides */
  box-sizing: border-box;
  overflow: visible;  /* prevent unwanted scroll */
}


.products_container section{
    margin: 0 auto;
}

@media (max-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* 3 cards per row */
@media (max-width: 992px) {
  .products_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2 cards per row */
@media (max-width: 768px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product_flexed{
    display: flex;
    flex-direction: column;
  }
}

.card_container{
  max-width:700px ;
  margin:auto 0;
}

/* 1 card per row (mobile) */
@media (max-width: 480px) {
  .products_container {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

}

